#root {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerWrap {
  display: flex;
  height: 100%;
  width: 100%;
}

.navWrap {
  width: 280px;
  height: 100%;
  overflow: hidden;
}

.chatWrap {
  width: calc(100% - 280px);
  height: 100%;
  overflow: hidden;
}