:global(#root) {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.containerWrap {
  display: flex;
  height: 100%;
  width: 100%;
}

.navWrap {
  width: 280px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #e5e4e9;
}

.chatWrap {
  width: calc(100% - 280px);
  height: 100%;
  overflow: hidden;
  display: flex;

  .divchatList {
    width: 280px;
    height: 100%;
  }

  .chatModule {
    width: calc(100% - 280px);
    height: 100%;
  }
}