.tooWrap {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  border-bottom: 1px solid #e5e4e9;
}

.box {
  display: flex;
  margin-bottom: 10px;
}

.item {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  background: #eee;
  cursor: pointer;
  margin: 0 15px;
  color: #4d76fd;
}